/* SATOSHI — REGULAR */
@font-face {
  font-family: "Satoshi";
  src: url("/Satoshi-Regular.woff2") format("woff2"),
       url("/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* SATOSHI — ITALIC */
@font-face {
  font-family: "Satoshi";
  src: url("/Satoshi-Italic.woff2") format("woff2"),
       url("/Satoshi-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* SATOSHI — LIGHT */
@font-face {
  font-family: "Satoshi";
  src: url("/Satoshi-Light.woff2") format("woff2"),
       url("/Satoshi-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* SATOSHI — LIGHT ITALIC */
@font-face {
  font-family: "Satoshi";
  src: url("/Satoshi-LightItalic.woff2") format("woff2"),
       url("/Satoshi-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* SATOSHI — MEDIUM */
@font-face {
  font-family: "Satoshi";
  src: url("/Satoshi-Medium.woff2") format("woff2"),
       url("/Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SATOSHI — MEDIUM ITALIC */
@font-face {
  font-family: "Satoshi";
  src: url("/Satoshi-MediumItalic.woff2") format("woff2"),
       url("/Satoshi-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* SATOSHI — BOLD */
@font-face {
  font-family: "Satoshi";
  src: url("/Satoshi-Bold.woff2") format("woff2"),
       url("/Satoshi-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* SATOSHI — BOLD ITALIC */
@font-face {
  font-family: "Satoshi";
  src: url("/Satoshi-BoldItalic.woff2") format("woff2"),
       url("/Satoshi-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* SATOSHI — BLACK */
@font-face {
  font-family: "Satoshi";
  src: url("/Satoshi-Black.woff2") format("woff2"),
       url("/Satoshi-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* SATOSHI — BLACK ITALIC */
@font-face {
  font-family: "Satoshi";
  src: url("/Satoshi-BlackItalic.woff2") format("woff2"),
       url("/Satoshi-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
